[submodule "gh-export-stars"]
	path = gh-export-stars
	url = https://github.com/s-hirano-ist/gh-export-stars.git
[submodule "s-schema"]
	path = s-schema
	url = https://github.com/s-hirano-ist/s-schema.git
