# build output
dist/

# dependencies
node_modules/

# macOS-specific files
.DS_Store

# ignore .astro directory
.astro

# playwright test
playwright-report
test-results
e2e/snapshot.test.ts-snapshots

# .env
.env
