---
import SwiperContainer from "@components/SwiperContainer.astro";
import PortfolioLayout from "@layouts/PortfolioLayout.astro";
import { CONTENTS } from "data/_diy/data";
---

<PortfolioLayout
  headerTitle="DIY"
  title="sola-tannin-diy"
  subTitle="お金をだせば「いいもの」が手に入るのが当たり前の時代"
  subSubTitle="#DIY #レザークラフト #木工大工 #電子工作">
  <div class="grid w-full grid-cols-2 gap-4 sm:grid-cols-3">
    {
      CONTENTS.map(content => {
        return (
          <div class="aspect-square">
            <p>{content.name}</p>
            <SwiperContainer content={content} />
          </div>
        );
      })
    }
  </div>
</PortfolioLayout>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#my-gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
    bgOpacity: 1.0,
  });
  lightbox.init();
</script>
