@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen font-custom selection:bg-primary selection:bg-opacity-70 selection:text-accent;
  }

  .prose a {
    @apply hover:!text-primary;
  }
}

/* for rehype autolink headings */

.icon-header-link {
  visibility: hidden;
  font-size: 1rem;
  margin-left: 0.3rem;
}

h2:hover .icon-header-link {
  visibility: visible;
}

h3:hover .icon-header-link {
  visibility: visible;
}
