---
import licenseData from "@content/license/data.gen.json";
import PortfolioLayout from "@layouts/PortfolioLayout.astro";
---

<PortfolioLayout headerTitle="LICENSE" title="license">
  {
    Object.entries(licenseData).map(([key, value]) => {
      return (
        <div class="pb-4">
          <p class="font-bold">{key}</p>
          <p> {value.licenses}</p>
        </div>
      );
    })
  }
</PortfolioLayout>
