---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import LinkButton from "@components/LinkButton.astro";
import Main from "@components/Main.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <Main>
    <div class="mx-auto mt-8 flex flex-col items-center">
      <h1 aria-label="404 Not Found" class="text-9xl font-bold text-primary">
        404
      </h1>
      <p class="mt-4 text-2xl sm:text-3xl">Page Not Found</p>
      <LinkButton href="/" className="my-6 text-lg ">Go back home</LinkButton>
    </div>
  </Main>

  <Footer />
</Layout>
