---
import { OgImage } from "@components/react/OgImage";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div
      style={{
        width: "1200px",
        height: "630px",
      }}
    >
      <OgImage description="現代アートとは?" />
    </div>
  </body>
</html>
