---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import BookList from "@components/react/BookList";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";

const pathname = Astro.url.pathname;
const pageTitle = "読書記録";
---

<Layout title={`${SITE.title}${pathname}`}>
  <Header />
  <Main pageTitle={pageTitle}>
    <p class="pt-4">
      {SITE.author}
       が印象に残っている本を記録したオンライン本棚です。
      <a href="https://developers.google.com/books" target="_blank">
        Google Books APIs
      </a>
       から情報を取得しています。
    </p>
    <BookList />
  </Main>
  <Footer />
</Layout>
