---
import portfolioImage from "@assets/portfolio.webp";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { Image } from "astro:assets";
---

<Layout>
  <Header isPortfolioPage />
  <Main>
    <section id="hero">
      <Image src={portfolioImage} alt="" class="portfolio-image" />
      <h1>s-hirano-ist</h1>
      <p>Hello. This is a portfolio of s-hirano-ist.</p>
      <p>
        He received my B.S. degree from Osaka University, Osaka, Japan, in 2022.
      </p>
      <p>
        He is currently working toward an M.E. degree at the Graduate School of
        Information Science and Technology at Osaka University.
      </p>
    </section>
  </Main>
  <Footer />
</Layout>

<style>
  .portfolio-image {
    @apply w-full;
  }
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero p {
    @apply my-2;
  }
</style>
