---
import portfolioImage from "@assets/portfolio.webp";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import AboutMe from "@layouts/AboutMe.astro";
// import Achievements from "@layouts/Achivements.astro";
import Education from "@layouts/Education.astro";
import Layout from "@layouts/Layout.astro";
import Notes from "@layouts/Notes.astro";
import PortfolioLinks from "@layouts/PortfolioLinks.astro";
import Qualification from "@layouts/Qualification.astro";
import WorkExperience from "@layouts/WorkExperience.astro";
import { Image } from "astro:assets";
---

<Layout>
  <main class="background main-contents">
    <Header title="Portfolio" darkModeDisabled />
    <section class="pt-8">
      <Image src={portfolioImage} alt="" class="w-full" />
    </section>
    <section class="pb-4">
      <h2>About me</h2>
      <AboutMe />
    </section>
    <section class="pb-4">
      <h2>Education</h2>
      <Education />
    </section>
    <section class="pb-4">
      <h2>Work Experience</h2>
      <WorkExperience />
    </section>
    <!-- <section class="pb-4">
      <h2>Achievements</h2>
      <Achievements />
    </section> -->
    <section class="pb-4">
      <h2>Qualification</h2>
      <Qualification />
    </section>
    <section class="px-4 pb-4">
      <h2>Links</h2>
      <PortfolioLinks />
    </section>
    <section class="px-4 pb-4">
      <h2>Notes</h2>
      <Notes />
    </section>
    <Footer darkModeDisabled />
  </main>
</Layout>

<style>
  .background {
    @apply px-4;
    background: url(/portfolioBgImage.webp);
  }

  .main-contents h2 {
    @apply my-4 inline-block text-xl font-bold text-skin-lightBlue sm:my-8 sm:text-2xl;
  }
</style>
