---
import AboutMe from "@components/AboutMe.astro";
import PortfolioLinks from "@components/PortfolioLinks.astro";
import TechStack from "@components/TechStack.astro";
import { SITE } from "@config";
// import achievementsData from "@layouts/Achievements.json";
import Top from "@components/Top.astro";
import Education from "@components/Education.astro";
import WorkExperience from "@components/WorkExperience.astro";
import Qualifications from "@components/Qualifications.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Portfolio" description={`Portfolio of ${SITE.author}.`}>
  <main class="background main-contents" data-theme="noTheme">
    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Portfolio of s-hirano-ist",
        "url": "https://s-hirano.com",
        "description": "Portfolio of s-hirano-ist.",
        "author": {
          "@type": "Person",
          "name": "s-hirano-ist",
          "url": "https://s-hirano.com"
        },
        // FIXME: add more json-ld settings
        // "potentialAction": {
        //   "@type": "SearchAction",
        //   "target": "https://yourportfolio.com/search?q={search_term_string}",
        //   "query-input": "required name=search_term_string"
        // },
        "sameAs": [
          "https://github.com/s-hirano-ist",
          "https://x.com/s_hirano_ist"
        ]
      }
    </script>
    <section>
      <div
        class="mx-auto grid grid-cols-1 gap-2 sm:gap-4 md:grid-cols-2 lg:grid-cols-3">
        <AboutMe class="order-2 lg:order-none" />

        <Top class="order-1 lg:order-none" />

        <PortfolioLinks class="order-3 lg:order-none" />

        <TechStack class="order-4 lg:order-none" />

        <Education class="order-5 lg:order-none" />

        <WorkExperience class="order-6 lg:order-none" />

        <Qualifications class="order-7 lg:order-none" />
      </div>
    </section>
  </main>
</Layout>

<style>
  h2 {
    @apply animate-wiggle animate-infinite;
  }

  .main-contents h2 {
    @apply my-4 inline-block text-xl font-bold text-primary sm:text-2xl;
  }

  .main-contents section {
    @apply mx-auto p-2 sm:p-4;
  }

  /* Timeline inside BentoTile */
  .timeline-container {
    @apply mt-2 text-xs;
  }
</style>
