---
import portfolioImage from "@assets/portfolio.webp";
import PortfolioLayout from "@layouts/PortfolioLayout.astro";
import { Image } from "astro:assets";
---

<PortfolioLayout headerTitle="Portfolio">
  <Image src={portfolioImage} alt="" class="w-full" />
  <div class="portfolio">準備中</div>
</PortfolioLayout>

<style>
  .portfolio {
    @apply pb-6 pt-8;
  }
  .portfolio h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  .portfolio p {
    @apply my-2;
  }
</style>
