---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@layouts/Main.astro";
import LinkCard from "@components/LinkCard.astro";
---

<Layout>
  <Header />
  <Main>
    <section>
      <LinkCard url="https://zenn.dev/" />
    </section>
  </Main>
  <Footer />
</Layout>
