---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import SearchBar, {
  type SummarySearchItem,
  type NewsSearchItem,
} from "@components/react/SearchBar";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getCollection } from "astro:content";

const summaryList = await getCollection("summary", ({ data }) => !data.draft);
const newsList = await getCollection("news");

const summarySearchList = summaryList.map(
  (summary): SummarySearchItem => ({
    body: summary.body,
    data: summary.data,
  }),
);
const newsSearchList = newsList.map(
  (news): NewsSearchItem => ({
    data: news.data,
  }),
);
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search">
    <div class="mb-12"></div>
    <SearchBar
      client:load
      summarySearchList={summarySearchList}
      newsSearchList={newsSearchList}
    />
  </Main>
  <Footer />
</Layout>
