---
import Socials from "@components/Socials.astro";
import { SITE } from "@config";
---

<div class="about-me">
  <p>Hello. This is a portfolio of {SITE.author}.</p>
  <p>I work as a software engineer at GMO Internet Group.</p>
  <p>
    I am interested in frontend development, serverless architectures and
    DevOps.
  </p>
</div>
<br />
<div class="pb-8">
  <Socials />
</div>
<div>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-8">
    <img
      alt="my skills"
      class="w-full sm:col-span-2"
      src="https://skillicons.dev/icons?theme=dark&perline=7&i=next,astro,react,nodejs,ts,js,html,css,python,swift,docker,aws,cloudflare,bash"
    />
    <img
      alt="Top Langs"
      class="w-full"
      src="https://github-readme-stats.vercel.app/api?username=s-hirano-ist&theme=vue-dark&layout=compact"
    />
    <img
      alt="github stats"
      class="w-full"
      src="https://github-readme-stats.vercel.app/api/top-langs/?username=s-hirano-ist&theme=vue-dark&layout=compact"
    />
  </div>
</div>
<style>
  .about-me p {
    @apply mb-2;
  }
</style>
