---
import gitHubContribution from "@assets/contribution/github_contribution.png";
import gitLabContribution from "@assets/contribution/gitlab_contribution.png";
import Socials from "@components/Socials.astro";
import { SITE } from "@config";
import { Image } from "astro:assets";
---

<div class="about-me">
  <p>Hello. This is a portfolio of {SITE.author}.</p>
  <p>I work as a software engineer at GMO Internet Group.</p>
  <p>
    I am interested in frontend development, serverless architectures and
    DevOps.
  </p>
</div>
<br />
<div class="pb-8">
  <Socials />
</div>
<div class="pb-8">
  <p class="pb-2">
    <a
      class="link link-primary"
      href="https://github.com/s-hirano-ist"
      target="_blank">GitHub</a
    >
    contributions (mainly on private repositories. Last updated on 14th of August
    2024.)
  </p>
  <Image src={gitHubContribution} class="w-full" alt="gitHub contributions" />
</div>
<div>
  <p class="pb-2">
    <a
      class="link link-primary"
      href="https://gitlab.com/s-hirano-ist"
      target="_blank">GitLab</a
    >
    contributions (Only on private repositories. Last updated on 26th of November
    2023.)
  </p>
  <Image src={gitLabContribution} class="w-full" alt="gitLab contributions" />
</div>
<style>
  .about-me p {
    @apply mb-2;
  }
</style>
