---
import Hr from "@components/Hr.astro";

const currentYear = new Date().getFullYear();

export type Props = {
  darkModeDisabled?: boolean;
};
const { darkModeDisabled = false } = Astro.props;
---

<footer
  class={`w-full ${
    darkModeDisabled ? "text-foreground" : "text-primary"
  } mx-auto max-w-5xl px-4`}>
  <Hr noPadding darkModeDisabled={darkModeDisabled} />
  <div class="flex justify-between py-2">
    <div class="my-2 flex items-center whitespace-nowrap">
      <span>Copyright &#169; {currentYear}</span>
      <span>&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>
