---
import Hr from "@components/Hr.astro";
import Socials from "@components/Socials.astro";

const currentYear = new Date().getFullYear();
---

<footer class="mt-auto">
  <Hr noPadding />
  <div class="footer-wrapper">
    <Socials centered />
    <div class="copyright-wrapper">
      <span>Copyright &#169; {currentYear}</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply my-2 flex flex-row-reverse justify-between;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-45;
  }
  .link-button svg {
    @apply scale-100;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
  .separator {
    @apply hidden sm:inline;
  }
</style>
