---
import DropdownMenu from "@components/DropdownMenu.astro";
import Hr from "@components/Hr.astro";
import ToggleThemeButton from "@components/ToggleThemeButton.astro";
import { SITE } from "@config";

export type Props = {
  darkModeDisabled?: boolean;
  title?: string;
};

const { title = SITE.title, darkModeDisabled = false } = Astro.props;
---

<header>
  <div class="mx-auto flex h-16 w-full max-w-5xl justify-between p-4">
    <a
      href="/"
      class=`static w-48 text-2xl font-semibold ${darkModeDisabled ? "text-accent":"text-primary"}`>
      {title}
    </a>
    <nav class="flex gap-2">
      <ToggleThemeButton />
      <DropdownMenu />
    </nav>
  </div>
  <Hr darkModeDisabled={darkModeDisabled} />
</header>
