---
import Hr from "@components/Hr.astro";
import LinkButton from "@components/LinkButton.astro";
import { SITE } from "@config";

export type ContentsType = "summary" | "news" | "search";

export type Props = {
  title?: string;
  darkModeDisabled?: boolean;
};

const { title = SITE.title, darkModeDisabled = false } = Astro.props;
---

<header>
  <div class="flex h-16 w-full max-w-5xl justify-between p-4">
    <a
      href="/"
      class=`static w-48 text-2xl font-semibold ${darkModeDisabled && "text-skin-white"}`>
      {title}
    </a>
    <nav class="flex gap-2">
      <div>
        <LinkButton href="/search" ariaLabel="search" title="Search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-search"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
            <path d="M21 21l-6 -6"></path>
          </svg>
        </LinkButton>
      </div>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="h-8 w-8 p-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"></path>
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu dropdown-content menu-sm z-[1] mt-3 w-36 rounded-box bg-skin-darkBlue p-2 shadow">
          <li>
            <a href="/news">News</a>
          </li>
          <li><a href="/summary">Summary</a></li>
          <li><a href="/book">Book</a></li>
          <li><a href="/tech-stack">Tech-stack</a></li>
          <li><a href="/photo">Photo</a></li>
          <li><a href="/diy">DIY</a></li>
          <li><a href="/d-plan">d-plan</a></li>
          <li>
            <a href="https://private.s-hirano.com" target="_blank"
              >Private page</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <Hr darkModeDisabled />
</header>
