---
import DropdownMenu from "@components/DropdownMenu.astro";
import Hr from "@components/Hr.astro";
import LinkButton from "@components/LinkButton.astro";
import ToggleThemeButton from "@components/ToggleThemeButton.astro";
import { SITE } from "@config";

export type ContentsType = "summary" | "news" | "search";

export type Props = {
  title?: string;
  darkModeDisabled?: boolean;
};

const { title = SITE.title, darkModeDisabled = false } = Astro.props;
---

<header>
  <div class="mx-auto flex h-16 w-full max-w-5xl justify-between p-4">
    <a
      href="/"
      class=`static w-48 text-2xl font-semibold ${darkModeDisabled ? "text-accent":"text-primary"}`>
      {title}
    </a>
    <nav class="flex gap-2">
      <div>
        <LinkButton
          href="/search"
          ariaLabel="search"
          title="Search"
          className="size-8 scale-100">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-search"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
            <path d="M21 21l-6 -6"></path>
          </svg>
        </LinkButton>
      </div>
      <ToggleThemeButton />
      <DropdownMenu />
    </nav>
  </div>
  <Hr darkModeDisabled={darkModeDisabled} />
</header>
