---
export type Props = {
  noPadding?: boolean;
  ariaHidden?: boolean;
  darkModeDisabled?: boolean;
};

const {
  noPadding = false,
  ariaHidden = true,
  darkModeDisabled = false,
} = Astro.props;
---

<div class={`mx-auto max-w-5xl ${noPadding ? "px-0" : "px-4"}`}>
  <hr
    class={`${darkModeDisabled ? "border-accent" : "border-primary"}`}
    aria-hidden={ariaHidden}
  />
</div>
