---
import { SITE } from "@config";
import { getOgpData } from "@utils/getOgpData";

export type Props = {
  url: string;
};
const { url } = Astro.props;

const ogp = await getOgpData(url);
const ogImage = ogp ? ogp["og:image"] : SITE.ogImage;
const ogTitle = ogp ? ogp["og:title"] : url;
const ogDescription = ogp
  ? ogp["og:description"]
  : "No description on this page.";

// TODO: CHANGE TO ASTRO IMAGE and MOVE PUBLIC IMG TO SRC
---

<a href={url} target="_blank">
  <div class="flex justify-start w-full">
    <img
      src={ogImage}
      loading="lazy"
      class="hidden object-cover w-32 h-32 sm:block"
      alt=""
    />
    <div class="sm:px-6 py-4 w-full">
      <div class="font-bold text-xl mb-2">{ogTitle}</div>
      <p>{ogDescription}</p>
    </div>
  </div>
</a>
