---
import sanitizeHtml from "sanitize-html";

export type Props = {
  pageTitle?: string;
  dropdownItem?: string;
  publishedDate?: string;
};

const {
  pageTitle = undefined,
  dropdownItem = undefined,
  publishedDate = undefined,
} = Astro.props;
---

<main id="main-content">
  <div class="flex items-center">
    {
      dropdownItem && (
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost px-1 sm:px-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h7"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu dropdown-content z-[1] mt-3 w-80 rounded-box bg-success p-2 shadow">
            <Fragment set:html={sanitizeHtml(dropdownItem)} />
          </ul>
        </div>
      )
    }
    {
      pageTitle && (
        <h1 class="text-2xl font-semibold text-primary">
          {pageTitle.charAt(0).toUpperCase() + pageTitle.slice(1).toLowerCase()}
        </h1>
      )
    }
    {
      publishedDate && (
        <div class="font-semibold text-primary sm:px-4">{publishedDate}</div>
      )
    }
  </div>
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto mt-8 w-full max-w-5xl px-4;
  }
</style>
