---
import socialIcons from "@assets/socialIcons";
import LinkButton from "@components/LinkButton.astro";
import { SOCIALS } from "@config";

export type Props = {
  centered?: boolean;
};

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton href={social.href} title={social.linkTitle}>
        <Fragment set:html={socialIcons[social.name]} />
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply mx-1 mt-2 flex-wrap justify-center gap-1 hover:rotate-12 hover:fill-skin-accent sm:m-1;
  }
</style>
