---
import BentoTile from "@components/BentoTile.astro";

const { class: className } = Astro.props;
---

<BentoTile
  title="GitHub Profile"
  bgColor="bg-linear-to-br from-primary/15 to-accent/10"
  size="large"
  clickable={false}
  class={className}>
  <svg
    slot="icon"
    xmlns="http://www.w3.org/2000/svg"
    class="size-8"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
      d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
    ></path>
  </svg>
  <div slot="content">
    <div class="flex flex-col items-center justify-center space-y-2">
      <img
        src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=s-hirano-ist&theme=blueberry"
        alt="GitHub Profile Details"
        loading="lazy"
        onerror="this.style.display='none'"
        class="w-full rounded-lg"
      />
    </div>
  </div>
</BentoTile>

<BentoTile
  title="Skills & Experience"
  bgColor="bg-linear-to-br from-accent/15 to-primary/10"
  size="large"
  clickable={false}
  class={className}>
  <svg
    slot="icon"
    xmlns="http://www.w3.org/2000/svg"
    class="size-8"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none">
    <path
      d="M4 7v10c0 2.21 0 3.31.659 4.041.659.73 1.69.73 3.75.73h6.182c2.06 0 3.09 0 3.75-.73.659-.73.659-1.831.659-4.041V7"
    ></path>
    <path d="M20 7H4"></path>
    <path d="M17 4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2"></path>
  </svg>
  <div slot="content">
    <div class="mb-4">
      <img
        alt="my skills"
        class="mx-auto max-w-xs rounded-lg"
        loading="lazy"
        src="https://skillicons.dev/icons?theme=dark&perline=6&i=next,astro,react,ts,js,html,css,python,swift,docker,aws,cloudflare"
      />
    </div>
  </div>
</BentoTile>
