<div>
  <div>
    <h3 class="py-2">実務経験</h3>
    <ul class="list-[square] px-4">
      <li>AWSを用いたインフラ構築と運用: 1年半以上</li>
      <li>Dockerを用いたコンテナ構築: 1年以上</li>
      <li>Next.js: 1年半以上</li>
      <li>Astro: 1年以上</li>
    </ul>
  </div>
  <div>
    <h3 class="py-2">趣味の開発経験</h3>
    <ul class="list-[square] px-4">
      <!-- <li></li> -->
      実装中...
    </ul>
  </div>
</div>
