<div>
  <div>
    <h3 class="py-2">新卒入社（2024年4月）までの主な実務経験</h3>
    <ul class="list-[square] px-4">
      <li><a href="https://nextjs.org/">Next.js</a>: 1年半以上</li>
      <li><a href="https://astro.build/">Astro</a>: 1年半以上</li>
      <li>
        <a href="https://aws.amazon.com/">AWS</a>
        を用いたインフラ構築と運用:1年半以上
      </li>
      <li>
        <a href="https://www.docker.com/">Docker</a>を用いたコンテナ構築:
        1年以上
      </li>
    </ul>
  </div>
</div>
