---
export type Props = {
  data: { date: string; title: string; description: string }[];
};
const { data } = Astro.props;
---

<div class="timeline">
  <ol class="relative border-s">
    {
      data.map(d => (
        <li class="mb-8 ms-4">
          <div class="absolute -start-1.5 mt-1.5 size-3 rounded-full border" />
          <span class="mb-1 text-sm leading-none">{d.date}</span>
          <h3 class=" text-lg font-semibold text-primary">{d.title}</h3>
          <p class="mb-4">{d.description}</p>
        </li>
      ))
    }
  </ol>
</div>
