---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import SearchBar, { type SummarySearchItem } from "@components/react/SearchBar";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const summaryList = await getCollection("summary", ({ data }) => !data.draft);

const summarySearchList = summaryList.map(
  (summary): SummarySearchItem => ({
    body: summary.body,
    data: summary.data,
  }),
);
---

<Layout title={`Search | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Search">
    <SearchBar client:load summarySearchList={summarySearchList} />
  </Main>
  <Footer />
</Layout>
