---
import githubStarsData from "@content/portfolio/gh-stars.json";
import PortfolioLayout from "@layouts/PortfolioLayout.astro";
---

<PortfolioLayout headerTitle="TECH-STACK" title="tech-stack">
  <p>
    一時期までリストとして保存していたが、あまりにも増えすぎてトラッキングできなくなってしまったため記述を断念する。
  </p>
  <div class="py-4 text-xl font-bold">Github stars of s-hirano-ist</div>
  {
    githubStarsData.map(d => {
      return (
        <div class="pb-4">
          <a href={d.url} class="link link-primary font-bold" target="_blank">
            {d.url.split("/").pop()}
          </a>
          <p class="text-sm">{d.description}</p>
        </div>
      );
    })
  }
</PortfolioLayout>
