---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import BookList from "@components/react/BookList";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";

const pathname = Astro.url.pathname;
const pageTitle = "読書記録";
---

<Layout title={`${SITE.title}${pathname}`}>
  <Header />
  <Main pageTitle={pageTitle}>
    <p class="prose prose-sm max-w-none pt-4 sm:prose-base">
      {SITE.author}
      が印象に残っている本を記録したオンライン本棚です。
      <a href="https://developers.google.com/books" target="_blank">
        Google Books APIs
      </a>
      から情報を取得しています。
      <br />
      また、自分の影響度合いに応じてレーティングしています。なお、技術系の本については多岐にわたるため除外しております。
      <ul class="prose prose-sm max-w-none pt-2 sm:prose-base">
        <li>☆1: いまいちな本</li>
        <li>☆2: 自分の知識を再整理できた本</li>
        <li>☆3: 良書</li>
        <li>☆4: 自分の価値観が広がったおすすめ本</li>
        <li>☆5: 自分の考え方が大きく変わったおすすめ本</li>
      </ul>
    </p>
    <BookList client:only="react" />
  </Main>
  <Footer />
</Layout>
