---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";

export type Props = {
  headerTitle: string;
  title?: string;
  subTitle?: string;
  subSubTitle?: string;
};
const { headerTitle, title, subTitle, subSubTitle } = Astro.props;
---

<Layout>
  <Header title={headerTitle} />
  <Main>
    <section id="hero">
      {title && <h1>{title}</h1>}
      {subTitle && <p>{subTitle}</p>}
      {subSubTitle && <p>{subSubTitle}</p>}
    </section>
    <section>
      <slot />
    </section>
  </Main>
  <Footer />
</Layout>

<style>
  #hero {
    @apply pb-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-2xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero p {
    @apply my-2;
  }
</style>
