---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";

export type Props = {
  headerTitle: string;
  subSubTitle?: string;
  subTitle?: string;
  title?: string;
};
const { headerTitle, title, subTitle, subSubTitle } = Astro.props;
---

<Layout>
  <Header title={headerTitle} />
  <Main>
    <section id="hero" class="pb-8">
      {
        title && (
          <h1 class="my-4 inline-block text-2xl font-bold sm:my-8 sm:text-5xl">
            {title}
          </h1>
        )
      }
      {subTitle && <p class="my-2">{subTitle}</p>}
      {subSubTitle && <p class="my-2">{subSubTitle}</p>}
    </section>
    <section class="pb-4">
      <slot />
    </section>
  </Main>
  <Footer />
</Layout>
