name: update-contents
on:
  schedule:
    - cron: "0 23 * * 1"
  workflow_dispatch:

jobs:
  contents:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    timeout-minutes: 20
    concurrency:
      group: ${{ github.workflow }}-contents-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24.13.0"
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - run: pnpm i --frozen-lockfile

      - run: bash checkLicense.sh
      - run: pnpm license:summary
      - run: pnpm license:json

      - name: run generate:photo
        run: pnpm generate:photo

      - name: run generate:book
        run: pnpm generate:book

      - name: run format fix
        run: pnpm fmt:fix

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        with:
          branch: "create-pull-request/s-public"
          commit-message: "s-public updates"
          title: "contents: s-public updates"
          body: |
            This is an update PR of s-public.
