name: update-contents
on:
  schedule:
    - cron: "0 23 * * 1"
  workflow_dispatch:

jobs:
  contents:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 20
    concurrency:
      group: ${{ github.workflow }}-contents-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "24.11.1"
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - run: pnpm i --frozen-lockfile

      - run: bash checkLicense.sh
      - run: pnpm license:summary
      - run: pnpm license:json

      - name: run generate:photo
        run: pnpm generate:photo

      - name: run generate:book
        run: pnpm generate:book

      - name: run format fix
        run: pnpm fmt:fix

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7
        with:
          token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          branch: "create-pull-request/s-public"
          commit-message: "s-public updates"
          title: "contents: s-public updates"
          body: |
            This is an update PR of s-public.
